.modal {
	position: fixed;
	width: 80vw;
	background-color: var(--grey);
	left: 10vw;
	overflow: scroll;
	padding: 2rem;
	box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.5); 
}

.modal-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.modal-close {
	color: blue;
	cursor: pointer;
}

.modal-button {
	color: blue;
	cursor: pointer;
	position: absolute;
	right: 10px;
}

.modal-row {
	background-color: #ffffff;
}



